
<div class="span9 content">
  <%#= render :partial => "layouts/guide/index_client_loans", :locals => {:client => @client} %>

  <%#= render :partial => "payments/breadcrumb", :locals => {:client => @client, :loan => nil} %>
  
  
  
  <%= create_guide("Assign Student", 
        "Select the teachers to teach subject: <b>#{@subject.name}</b>, course <b>#{@course.name}</b>").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  <h3>Total Student in the course: <%= @course_students.count %></h3>
  <h3>Total Student in the group: <%= @group.group_memberships.count %></h3>
  <hr />
  
  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Name</th>
            <th>Current Group</th>
            <th>Assign to this Group</th>
          </tr>
        </thead>
        <tbody>
          <% @course_students.each do |student| %>
            <tr>
              <td> xxx </td>
              
              <% registered_group = student.group_for_course(@course) %>
              <% if registered_group.nil? %>
                <td>Unregistered</td>
              <% else %>
                <td><%= registered_group.name  %></td>
              <% end %> 
                
       
              
              
              
              <td class="well">
                <label class="checkbox">
                  <% checkbox_value = student.is_group_member?(@group) %>
                  <%= check_box_tag 'is_checked', get_checkbox_value(checkbox_value )   , 
                      checkbox_value, :class => 'is_checked_class', 
                      :id => "studentId_#{student.id}" %> Taking
                </label>

              </td>
            </tr>
          <% end %>


         
        </tbody>
      </table>
      
      <div class="alert alert-success allert-message">
        <a class="close" href="#">&times;</a>
        <strong>Well done!</strong> You successfully read this important alert message.
      </div>

      
      <div class="form-actions">
        <%= hidden_field_tag 'destination_url', 
                group_group_memberships_url(@group) ,
                 :id => "destination_url" %>

        <button class="btn btn-large btn-primary"
              type="submit" id="save_button">Save changes</button>
      </div>


      
      
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->

<%# content_for :additional_js  do %>
 
  <%#= javascript_include_tag "DT.js" %> 
  <%#= javascript_include_tag "DT_bootstrap.js" %> 
<%# end %>










