
<div class="span9 content">
  <%= create_guide("Create Term", 
        "School: <b>#{current_school.name}</b>"   ).html_safe %>
  
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Well done!</strong> <%= flash[:notice].html_safe %>
    </div>
  <% end %>
  
  <% if flash[:error] %>
    <div class="alert alert-error">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Create Failure!</strong> Please fill in all fields.
    </div>
  <% end %>
  
  
  <div class="row-fluid">
    <div class="span12">
      
      <h2>New Term</h2><br />

      <%= simple_form_for(@new_term , :html => {:class => 'form-horizontal 
          prevent_double_submit' }) do |f| %>
          
        <%= f.input :title , :input_html => {:class => "input-xlarge span5"}, 
         :label => "Term Title", :hint => "Must be Unique in the School" %>

        <div class="form-actions">
          <%= f.button :submit , :class => "btn btn-primary", :text=> "Create Term" %>
        </div>
      <% end %>
      
      
     
      
    </div> 
      
      
      
    
  </div><!--/row-->
   <hr />
  <div class="row-fluid">
    <div id="data_list">
      <h2>Total Term for school  <%= current_school.name %>: <%= @terms.count  %> </h2>
      
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Term</th>
            <th>Is Active</th>
            <th style="text-align:center;">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @terms.each do |term| %>
            <%= render :partial => "terms/active_term" , :locals => {
              :term => term 
            }%>
            
          <% end %>

        </tbody>
      </table>
    </div><!-- end of #data_list -->
  </div>

</div><!--/span-->


<div class=" hidden" id="approve_propose_form_wrapper">
  <%= form_for Term.new, :url => execute_close_term_url   do |f| %>
    <%= hidden_field_tag 'entity_id' , ''  %>
    <%= hidden_field_tag 'action_role', '' %>
    <%= hidden_field_tag 'action_value', '' %>
  <% end %>
</div>















