
<div class="span9 content">
  <%= create_guide("New Project", 
        "Create the projects details for subject: <b>#{@subject.name}</b>").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  <div class="row-fluid">
    <div class="span8">


      <%= form_for @new_group  ,:url => course_groups_url(@course),
          :html => {:class => "form-horizontal"} do |f| %>
        <div class="control-group">
          <%= f.label :name, "Group Name" %>
          <div class="controls">
            <%= f.text_field :name, :class=>"input-xlarge" %>
            <!-- <p class="help-block">Masukkan kode kelas.</p> -->
          </div>
        </div>
        
        
        
        
        
        
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Create Group</button>
        </div>
      <% end %>
      
      
      

    </div><!--/span-->

    <div class="span4">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr><th>Total Groups: <%= @groups.count%></th></tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= group.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div><!--/span-->
    
  </div><!--/row-->

</div><!--/span-->
