
<div class="span9 content">
  
  <%= create_guide("Select the Group Leader", 
        "Pick one of the member to be the group leader").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  

  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Member Name</th>
            <th>Member NIM</th>
            <th>Select Group Leader</th>
            
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td>xxx</td>

              <td> xxx </td>
              <td class="well">
                <label class="checkbox">
                  <% checkbox_value = @group.is_leader?(student)  %>
                  
                  <%= check_box_tag 'is_checked', get_checkbox_value(checkbox_value )   , 
                      checkbox_value, :class => 'checkbox_tracker single-submit', 
                      :id => "provider_#{@group.id}-consumer_#{student.id}" %> Taking
                </label>

              </td>
            </tr>
          <% end %>


         
        </tbody>
      </table>
      Hahaha
      
        <div class=" hidden" id="checkbox_form_wrapper">
          <%= form_tag  execute_select_group_leader_url , :method => :post  do  %>
            <%= hidden_field_tag 'membership_provider' , ''  %>
            <%= hidden_field_tag 'membership_consumer', '' %>
            <%= hidden_field_tag 'membership_decision', '' %>
          <% end %>
        </div>
     
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->

<%# content_for :additional_js  do %>
 
  <%#= javascript_include_tag "DT.js" %> 
  <%#= javascript_include_tag "DT_bootstrap.js" %> 
<%# end %>










