
<div class="span9 content">
  <%= render :partial => "layouts/guide/edit_employee" %>
  <%= render :partial => "users/breadcrumb" %>

  
  
  <div class="row-fluid">
    <div class="span8">
      
      <%= form_for @employee , :url => update_employee_url(@employee.username) ,
            :html => {:class => "form-horizontal"} do |f| %>
      
        <div class="control-group">
          <%= f.label :email, "Email" %>
          <div class="controls">
            <span class="input-xlarge uneditable-input"><%= @employee.email %></span>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :username, "Employee ID" %>
          <div class="controls">
            <span class="input-xlarge uneditable-input"><%= @employee.username %></span>
          </div>
        </div>

        
        <div class="control-group">
          <label for="optionsCheckboxList" class="control-label">Role</label>
          <div class="controls">
            
            <% Role.all.each do |role| %>
              <% if role.name == SUPERUSER %>
                <% next %>
              <% end %>
              <label class="checkbox">
                <%= check_box_tag 'role',role.id,checked= @employee.has_role?(role.name.underscore.to_sym), 
                    {:name => "role[role_id][]", :id => "role_id_#{role.id}"}%>
                <%= role.name %>
              </label>
            
            <% end %>

            <p class="help-block"><strong>Note: </strong>A user can have more than 1 role.</p>
          </div>
        </div>
        
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Save </button>
        </div>
        
        
      <% end %>
    </div><!--/span-->

    <div class="span4">
      <h2>Statistics</h2>
      <p>1 Admin</p>
      <p>3 Cashier</p>
      <p>1 Loan Creator</p>
      <p>20 Debt Collector</p>
      <p><a class="btn" href="#">View details »</a></p>
    </div><!--/span-->
    
  </div> <!--/row-fluid-->

</div><!--/span-->
