
<div class="span9 content">
  <%= create_guide("New Project", 
        "Create the projects details for subject: <b>#{@subject.name}</b>").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  <div class="row-fluid">
    <div class="span8">


      <%= form_for @new_project  ,:url => course_projects_url(@course), :html => {:class => "form-horizontal"} do |f| %>
        <div class="control-group">
          <%= f.label :title, "Project Title" %>
          <div class="controls">
            <%= f.text_field :title, :class=>"input-xlarge" %>
            <!-- <p class="help-block">Masukkan kode kelas.</p> -->
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :description, "Project Description" %>
          <div class="controls">
            <%= f.text_area :description, :class=>"input-xlarge", :rows => 5 %>
            <!-- <p class="help-block">Masukkan kode kelas.</p> -->
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :deadline_date, "Deadline" %>
          <div class="controls">
            <%= f.text_field :deadline_date, :class=>"input-xlarge"  ,'data-datepicker'=>'datepicker'  %>
            <p class="help-block"></p>
          </div>
        </div>
        
        
        
        
        <div class="control-group">
          <label class="control-label">Group Project?</label>
          <div class="controls">
            <label class="radio">
              <%= f.radio_button "is_group_project", TRUE_CHECK %> Yes
              <!-- <input type="radio" checked="" value="" id="optionsRadios1" name="project[is_group_project]">
                        Yes -->
            </label>
            <label class="radio">
              <%= f.radio_button "is_group_project", FALSE_CHECK %> No
              <!-- <input type="radio" value="" id="optionsRadios2" name="optionsRadios">
                         No -->
            </label>
          </div>
        </div>
        
        
        
        
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Create Project</button>
        </div>
      <% end %>
      
      
      

    </div><!--/span-->

    <div class="span4">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr><th>Total Projects: <%= @projects.count%></th></tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.title %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div><!--/span-->
    
  </div><!--/row-->

</div><!--/span-->
