
<div class="span9 content">
  
  <%= create_guide("Select the Course", 
        "Select the course where some projects will be created.").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  
  
  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Course name</th>
            <th>Students</th>
            <th>Projects</th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= link_to "#{course.name}", new_course_project_url( course) %></td>
              <td><%=  course.students.count  %></td>
              <td><%=  course.projects.count  %></td>
            </tr>
          <% end %>


         
        </tbody>
      </table>
      
      <!-- <div class="alert alert-success allert-message">
           <a class="close" href="#">&times;</a>
           <strong>Well done!</strong> You successfully read this important alert message.
         </div> -->

      
      <!-- <div class="form-actions">
        <%#= hidden_field_tag 'destination_url', 
                subject_subject_teaching_assignments_url(@subject) ,
                 :id => "destination_url" %>

        <button class="btn btn-large btn-primary"
              type="submit" id="save_button">Save changes</button>
      </div> -->


      
      
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->

<%# content_for :additional_js  do %>
 
  <%#= javascript_include_tag "DT.js" %> 
  <%#= javascript_include_tag "DT_bootstrap.js" %> 
<%# end %>










