
<div class="span9 content">
  
  
  <%= create_guide("Publish Grade", 
        "Publish the submission grade for the students.").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
 
  
  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Title</th>
            <th>Course</th>
            <th>Deadline</th>
            <th>Total Students</th>
            <th>Total Completed Submission</th>
            <th>Total Graded</th>
            <th>Publish Grade</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <%= render :partial => "projects/publish_grade", :locals => {
              :project => project 
            }%>
            
          <% end %>


         
        </tbody>
      </table>
      
      
        <div class=" hidden" id="close-entry">
          <%= form_tag  execute_publish_grade_url  , :method => :post  do  %>
            <%= hidden_field_tag 'entry_id' , ''  %>
          <% end %>
        </div>
        
        
      
      <!-- <div class="alert alert-success allert-message">
           <a class="close" href="#">&times;</a>
           <strong>Well done!</strong> You successfully read this important alert message.
         </div> -->
   
      
<!--       <div class="form-actions">
        <%#= hidden_field_tag 'destination_url', 
                subject_subject_teaching_assignments_url(@subject) ,
                 :id => "destination_url" %>

        <button class="btn btn-large btn-primary"
              type="submit" id="save_button">Save changes</button>
      </div> -->


      
      
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->

<%# content_for :additional_js  do %>
 
  <%#= javascript_include_tag "DT.js" %> 
  <%#= javascript_include_tag "DT_bootstrap.js" %> 
<%# end %>










