<div class="span3 process-nav">
   <div class="well sidebar-nav">
     
     
     
     <% if current_user.has_role?(:school_admin) %>
       <%= get_process_nav( :school_admin , params ).html_safe %> 
       <%= get_process_nav( :history , params ).html_safe %> 
     <% end %>
     
     
     <% if current_user.has_role?(:teacher) %>
       <%= get_process_nav( :teacher , params ).html_safe %> 
       <%= get_process_nav( :submission_grading , params ).html_safe %> 
     <% end %>
     
     
     <% if current_user.has_role?(:student) %>
        <%= get_process_nav( :student , params ).html_safe %> 
      <% end %>
     
     
     <!-- <ul class="nav nav-list">

       <li class="nav-header">School Admin</li>
       <li>Add Student</li>
       <li>Add Teacher</li>


            
     </ul> -->
   </div><!--/.well -->
 </div><!--/span-->