
<div class="span9 content">
  
  <%= create_guide("Change Password", 
        "Enter the old password, new password, and the confirmation").html_safe %>
  
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  
    <% if not flash[:notice].nil? %>
      <div class="alert alert-success">
        <a data-dismiss="alert" class="close">×</a>
        <strong>Well done!</strong> Change password is successful.
      </div>
    <% elsif  not flash[:error].nil? %>
      <div class="alert alert-error">
        <a data-dismiss="alert" class="close">×</a>
        <strong>Oh snap!</strong> Fail to change password.
      </div>
    <% end %>
  
  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
    
      <%= simple_form_for(current_user, :url =>  update_password_url, :method => :post, 
        :html => {:class => 'form-horizontal' }) do |f| %>
        <%= f.input :current_password , 
          :input_html => {:class => "input-xlarge span5", :id =>"weekly_principal"}, 
          :hint => "Enter the current password", :label => "Current Password" %>

        <%= f.input :password, :input_html => {:class => "input-xlarge span5",:id =>"weekly_interest"  },
        :hint => "Enter the new password", :label => "New Password"%>

        <%= f.input :password_confirmation, :input_html => { :class => "input-xlarge span5" },
        :hint => "Confirmation. ensuring that you entered the correct value for new password.", :label => "New Password confirmation"%>

        
        <div class="form-actions">
          <%= f.button :submit , :class => "btn btn-primary", :text=> "Change Password" %>
        </div>
      <% end %>
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->

<%# content_for :additional_js  do %>
 
  <%#= javascript_include_tag "DT.js" %> 
  <%#= javascript_include_tag "DT_bootstrap.js" %> 
<%# end %>










