


<li class="span3">
  <div class="thumbnail gallery_thumbnail_wrapper">
    
    <div class="" style="display:none;">
      <span class="original_image" id="pic_<%= original_picture.id %>"><%= original_picture.display_image_url.html_safe %></span>

      <% original_picture.revisions.each do |revision| %>
      <span class="revision_image" id="pic_<%= revision.id %>"><%= revision.display_image_url.html_safe %></span>
      <% end %>
    </div>
    <% last_approved_revision = original_picture.last_approved_revision %>
    
    <%= link_to  project_submission_picture_url( project_submission, 
                  last_approved_revision),
        :class => "thumbnail gallery_thumbnail" , 
        :style => "height:160px; overflow:hidden;",
        :id => "display-id_#{last_approved_revision.id}" do %>
      <%= image_tag last_approved_revision.get_icon("index") %>
    <% end %>
    
   
    
    
    <!-- <img alt="" src="http://placehold.it/260x180"> -->
    <div class="caption">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <tbody>
          <!-- Revisions count  -->
          <tr>
            <td>Revisions</td>
            <td><%= original_picture.revisions.count %></td>
          </tr>
          
          
          <tr>
            <td>Last Rev. Score</td>
            <td>
              <%= get_last_revision_score( original_picture , project) %>
            </td>
          </tr>
          
          <tr>
            <td>Highest</td>
            <td>
             <%= get_highest_score( original_picture , project) %>
            </td>
          </tr>
         </tbody>
      </table>
     
    </div>
     
     
        
      
  </div>
</li>



