


<li class="span3">
  <div class="thumbnail gallery_thumbnail_wrapper">
    
    <div class="" style="display:none;">
      <span class="original_image" id="pic_<%= original_picture.id %>"><%= original_picture.display_image_url.html_safe %></span>

      <% original_picture.revisions.each do |revision| %>
      <span class="revision_image" id="pic_<%= revision.id %>"><%= revision.display_image_url.html_safe %></span>
      <% end %>
    </div>
    <% last_approved_revision = original_picture.last_approved_revision %>
    
    <%= link_to  gallery_picture_grading_url( @project, last_approved_revision)  ,
        :class => "thumbnail gallery_thumbnail" , 
        :style => "height:160px; overflow:hidden;",
        :id => "display-id_#{last_approved_revision.id}" do %>
      <%= image_tag last_approved_revision.get_icon("index") %>
    <% end %>
    
   
    
    
    <div class="caption">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        
        <tbody>
          
          <tr>
            <td>Revisions</td>
            <td><%= original_picture.revisions.where(:is_deleted => false).count %></td>
          </tr>
          
          <tr>
            <td>Past Approval?</td>
            <td><%= original_picture.revisions.where(:is_approved => true ).count %></td>
          </tr>
          <tr>
            <td>Highest Score</td>
            <% highest_score_pair = original_picture.highest_approved_pictures_score  %>
            <td>
              <% if highest_score_pair.nil? %>
                -
              <% else %>
                <%= link_to highest_score_pair.last, gallery_picture_grading_url( @project, highest_score_pair.first) %>
              <% end %>
              
            </td>
          </tr>
          
          <% last_revision =  original_picture.last_revision %>
          <tr>
            <td> Approval</td>
            <td><%= get_picture_status_label(last_revision).html_safe %></td>
          </tr>
          
          <tr>
            <td> Score</td>
            <td><%= last_revision.score  %></td>
          </tr>
          
          <tr>
            <td colspan="2" style="text-align:center;">
              <%= link_to "Details", gallery_picture_grading_url( @project, last_approved_revision) , :class => "btn"%>
            </td>
          </tr>
          
         </tbody>
      </table>
     
    </div>
    
    
    
    <!-- <img alt="" src="http://placehold.it/260x180"> -->
    <!-- <div class="caption">
          <table cellpadding="0" cellspacing="0" border="0" 
                class="table table-striped table-bordered" id="example">
            <tbody>
            
              <tr>
                <td>Revisions</td>
                <td><%= original_picture.revisions.count %></td>
              </tr>
              
              
              <tr>
                <td>Last Rev. Score</td>
                <td>
                  <%= get_last_revision_score( original_picture , project) %>
                </td>
              </tr>
              
              <tr>
                <td>Highest</td>
                <td>
                 <%= get_highest_score( original_picture , project) %>
                </td>
              </tr>
             </tbody>
          </table>
         
        </div>
          -->
     
        
      
  </div>
</li>



