

<h3> <%= @picture.name %></h3>
<h4> Uploaded on: <%= @picture.upload_datetime_local(@school) %></h4>
<% if @picture.is_original == true  %>
  <span class="label">Original Submission</span>
<% else %>
	<span class="label label-success">Revision Submission</span>
<% end %>
<hr />


<!-- The navigation element (<= Prev)  and (Next =>)-->
<ul class="pager">
      <%= get_previous_project_picture(@picture, false ).html_safe %>
      <%= get_next_project_picture(@picture, false).html_safe %>
</ul>


<!-- The image in display -->
<div class="thumbnail image display_image_wrapper "id="display_wrapper" >
  
  <%#= render :partial => "pictures/positional_comment_form", 
                  :locals => {:picture => @picture}%>

  
  
  <%= image_tag @picture.display_image_url,  
        :style => "width:590px;" , :id => "display_image" %>
        
  <!-- render all the positional_comment -->
  <%= render :partial => "pictures/feedback_map", :locals => {:picture => @picture }%>
</div>

<!-- The cropper -->
<div class="thumbnail image display_image_wrapper" id="cropper_wrapper" >
  
  <%= render :partial => "pictures/positional_comment_form", 
                  :locals => {:picture => @picture}%>

  
  
  <%= image_tag @picture.display_image_url,  
        :style => "width:590px;", :id => "target" %>
        
  <!-- render all the positional_comment -->
  <%= render :partial => "pictures/feedback_map", :locals => {:picture => @picture }%>
</div>



<hr />