
<li class="span3">
  <div class="thumbnail">
    
    <%# if not project_submission.approved? %>
      <%#= link_to  grade_project_submission_picture_path( original_picture),
       :class => "thumbnail" , :style => "height:160px; overflow:hidden;" do %>
        <%#= image_tag original_picture.index_image_url %>
      <%# end %>
    <%# else %>
      <%#= link_to  grade_project_submission_picture_path( project_submission.approved_picture),
       :class => "thumbnail" , :style => "height:160px; overflow:hidden;" do %>
        <%#= image_tag project_submission.approved_picture.index_image_url %>
      <%# end %>
    <%# end %>
    
    <% if not original_picture.any_picture_submission_approved? %>
      <%= link_to  grade_project_submission_picture_path( original_picture.last_revision),
       :class => "thumbnail" , :style => "height:160px; overflow:hidden;" do %>
        <%#= image_tag original_picture.last_revision.index_image_url %>
        <%= image_tag original_picture.last_revision.get_icon("index") %>
      <% end %>
    <% else %>
      <%= link_to  grade_project_submission_picture_path( original_picture.approved_picture),
       :class => "thumbnail" , :style => "height:160px; overflow:hidden;" do %>
        <%#= image_tag original_picture.approved_picture.index_image_url %>
        <%= image_tag original_picture.approved_picture.get_icon("index") %>
      <% end %>
    <% end %>
    
    
    <!-- <img alt="" src="http://placehold.it/260x180"> -->
    <div class="caption">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        
        <tbody>
          <tr>
            <td colspan="2" style="overflow:hidden"><%= original_picture.name[0..20] %></td>
          </tr>
          
          <tr>
            <td>Revisions</td>
            <td><%= original_picture.revisions.count %></td>
          </tr>
          
            <% if original_picture.any_picture_submission_approved? %>
            <tr>
              <td>Approval</td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Score</td>
              <td><%= original_picture.approved_picture.score %></td>
            </tr>
            <% else %>
              <% if original_picture.last_revision.is_approved == false %>
                <tr>
                  <td>Approval</td>
                  <td>REJECT</td>
                </tr>
                <tr>
                  <td>Score</td>
                  <td>0</td>
                </tr>
              <% else %>
                <tr>
                  <td>Approval</td>
                  <td>PENDING</td>
                </tr>
                <tr>
                  <td>Score</td>
                  <td>Pending</td>
                </tr>
              <% end %>
            <% end %>
         </tbody>
      </table>
     
    </div>
     
     
        
      
  </div>
</li>

