


<li class="span3">
  <div class="thumbnail">
    
   
    
    <% if  original_picture.any_picture_submission_approved? %>
      <%= link_to  project_submission_picture_url( project_submission, original_picture.approved_picture ),
          :class => "thumbnail" , :style => "height:160px; overflow:hidden;" do %>
        <%= image_tag original_picture.approved_picture.get_icon("index") %>
      <% end %>
    <% else %>
      <%= link_to  project_submission_picture_url( project_submission, picture.last_revision),
       :class => "thumbnail" , :style => "height:160px; overflow:hidden;" do %>
        <%= image_tag picture.last_revision.get_icon("index") %>
      <% end %>
    <% end %>
    
    
    <!-- <img alt="" src="http://placehold.it/260x180"> -->
    <div class="caption">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        
        <tbody>
          
            <tr>
              <td colspan="2" style="overflow:hidden;">
                <b><%= original_picture.name[0..20] %></b>
              </td>
            </tr>
          
          <tr>
            <td>Revisions</td>
            <td><%= original_picture.revisions.where(:is_deleted => false ).count %></td>
          </tr>
          
            <% if original_picture.any_picture_submission_approved? %>
            <tr>
              <td>Approval</td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Score</td>
              <td><%= original_picture.approved_picture.score %></td>
            </tr>
            <% else %>
              <% if original_picture.last_revision.is_approved == false %>
                <tr>
                  <td>Approval</td>
                  <td>REJECT</td>
                </tr>
                <tr>
                  <td>Score</td>
                  <td>0</td>
                </tr>
              <% else %>
                <tr>
                  <td>Approval</td>
                  <td>PENDING</td>
                </tr>
                <tr>
                  <td>Score</td>
                  <td>Pending</td>
                </tr>
              <% end %>
            <% end %>
            
            <tr>
              <td colspan="2" style="text-align:center;">
                <% if original_picture.can_be_deleted?  %>
                  <%= form_for original_picture, 
                        :url => delete_original_image_url,
                        :html => {:class => "delete_pic" } do |f| %>
                    <%= hidden_field_tag 'picture_id', original_picture.id  %>
                    <button href="#" class="btn btn-danger delete_original" >
                      Delete
                    </button>
                  <% end %>
                  
                <% else %>
                  --
                <% end %>
              </td>
            </tr>
         </tbody>
      </table>
     
    </div>
     
     
        
      
  </div>
</li>



