<h3>Upload Revision</h3>


<%= form_for Picture.new, :url => project_submission_pictures_url(@project_submission) , 
          :html => {:class=> "well form-search",
            :id => 'upload_revision' }  do |f| %>
  <%= hidden_field_tag 'is_original', 
          REVISION_PICTURE  %>
  <%= transloadit :potoschool_store_image %>
  <%= f.file_field :original_image_url, :class => "input-medium search-query" , 
            :multiple => "multiple", :style=>"width:200px;" %>
            <br />
  <%= hidden_field_tag 'original_picture_id', 
          @picture.id  %>
           
  <button type="submit" class="btn">Upload Revision</button>
  
<% end %>

<%# content_for :additional_js do %>
<!-- 
  <script type="text/javascript" src="//assets.transloadit.com/js/jquery.transloadit2.js"></script>
  <script type="text/javascript">
     // We call .transloadit() after the DOM is initialized:
     // $(document).ready(function() {
     //     $('#upload_revision').transloadit({
     //       wait : true, 
     //       pollTimeout : 15000,
     //       processZeroFiles : false,
     //       onStart : function(assembly){
     //       }
     //     });
     //   });
  </script>  -->
<%# end %>

<hr />