
<div class="span9 content" >
  <%= create_guide("Analyze Picture", 
        "You can comment <b>on the picture</b>. 
        Just drag the mouse on the desired position, and create comment.").html_safe %>
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  

  
  <div class="row-fluid">
    <div class="span8">
      <h3> <%= @picture.name %></h3>
      <h4> Uploaded on: <%= @picture.created_at.in_time_zone("Jakarta") %></h4>
      <% if @picture.is_original == true  %>
        <span class="label">Original Submission</span>
      <% else %>
      	<span class="label label-success">Revision Submission</span>
      <% end %>
      <hr />
      
      
      <!-- The navigation element (<= Prev)  and (Next =>)-->
      <ul class="pager">
            <%= get_previous_project_picture(@picture, false ).html_safe %>
            <%= get_next_project_picture(@picture, false).html_safe %>
      </ul>
      
      
      <!-- The image in display -->
        <div class="thumbnail image display_image_wrapper" >
          
          <%= render :partial => "pictures/positional_comment_form", 
                          :locals => {:picture => @picture}%>
       
          
          
          <%= image_tag @picture.display_image_url,  
                :style => "width:590px;", :id => "target" %>
                
          <!-- render all the positional_comment -->
          <%= render :partial => "pictures/feedback_map", :locals => {:picture => @picture }%>
        </div>
       
                
                
    <!-- Supporting JS and CSS for create comment -->
      <% if @picture.allow_comment?(current_user) %>
        <%  content_for :additional_css  do %>
          <%= stylesheet_link_tag "jcrop.css", "image_map.css"%>
        <% end %>

        <% content_for :additional_js do %>
          <%#= javascript_include_tag "jquery.Jcrop.min.js", "phototagging_exe.js" %>
          <%= transloadit_jquerify :upload_revision, :wait => true %>
          
          <script type='text/javascript'>
            $(document).ready(function(){
              refreshMap();
            });
          </script>
        <% end %>
      <% end %>
      
      
      <!-- Comment for a given image -->
      
      
      <hr />
      <%#= render :partial => "pictures/feedback_comment" %>
      <h1 style="margin-bottom:10px;">Feedbacks: <%= @root_comments.count %></h1>
      <hr />
      <!-- <div class="row-fluid new-well"> -->
        
      <ol class="root_comment_wrapper">
        <% @root_comments.each do |root_comment|%>
          <%= render :partial => "pictures/root_comment", 
            :locals => {:root_comment => root_comment, 
                        :picture => @picture}%>
        <% end %>
      </ol>
      <!-- </div> -->
      

                
    </div><!--/span-->
    
    
    
    <!-- Upload new revision, show original picture, and revision list -->
    <div class="span4">
      <% if current_user.is_submission_owner?(@project_submission) %>
      <!-- if it is not approved, revision still can be uploaded  -->
        <% if not @original_picture.any_picture_submission_approved? %>
          <%= render :partial => "pictures/upload_revision_form"%>
        <% end %>
        
      <% end %>
      
      
      <% if not @original_picture.any_picture_submission_approved? %>
        <% if @picture.is_approved.nil? %>
          <%= render :partial => "pictures/pending_submission", :locals => {
            :picture => @picture }%>
        <% end %>
      <% else %>
        <% if @picture.is_approved.nil? %>
          <%= render :partial => "pictures/ungradded_submission", :locals => {
            :picture => @picture }%>
        <% end %>
      <% end %>
      
      
      
  
      
      <% if @picture.is_approved == true %>
        <%= render :partial => "pictures/accepted_submission", :locals => {
          :picture => @picture }%>
      <% elsif @picture.is_approved == false %>
        <%= render :partial => "pictures/rejected_submission", :locals => {
          :picture => @picture }%>
      <% end %>
      
      
      
      
      <% if @picture.is_original == false %>
        <%= render :partial => "pictures/show_original", :locals =>{
          :original_picture => @original_picture,
          :project_submission => @project_submission
        }%>
      <% end %>
      
      <% if @all_revisions.count != 0 %>
        <%= render :partial => "pictures/revision_list",
                  :locals => {:all_revisions => @all_revisions, 
                          :current_display => @picture,
                          :project_submission => @project_submission }%>
                      
      <% end %>
    </div><!--/span-->
    
  </div><!--/row-->

</div><!--/span-->
