
<div class="span9 content" >
  <%= create_guide("Your Submission", 
        "You can add revision <b>of the picture</b>").html_safe %>
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  

  
  <div class="row-fluid" id="actionWrapper">
    <div class="span8">
     
     
     <% if @picture.picture_filetype != PICTURE_FILETYPE[:image] %>
      <%= render :partial => "pictures/scribd_ipaper" %>
     <% elsif @picture.picture_filetype == PICTURE_FILETYPE[:image] %>
      <%= render :partial => "pictures/image_viewer" %>
     <% end %>
     
      
    <!-- Supporting JS and CSS for create comment -->
      <% if @picture.allow_comment?(current_user) %>
        <% if @picture.picture_filetype == PICTURE_FILETYPE[:image]  %>
          <%  content_for :additional_css  do %>
            <%= stylesheet_link_tag "jcrop.css", "image_map.css"%>
          <% end %>
          
          <% content_for :additional_js do %>
            <%= javascript_include_tag "jquery.Jcrop.min.js", "phototagging_exe.js" %>
            <%= transloadit_jquerify :upload_picture_revision, :wait => true %>

            <script type='text/javascript'>
              $(document).ready(function(){
                refreshMap();
              });
            </script>
          <% end %>
        <% end %>
        
        
        <% if @picture.picture_filetype != PICTURE_FILETYPE[:image]  %>
          <% content_for :additional_js do %>
            <%= transloadit_jquerify :upload_document_revision, :wait => true %>
          <% end %>
        <% end %>
        
      <% end %>
      
      
      <!-- Comment for a given image -->
      
      
      <h1 style="margin-bottom:10px;">Feedbacks: <%= @root_comments.count %></h1>
      <hr />
      <!-- <div class="row-fluid new-well"> -->
        
      <ol class="root_comment_wrapper">
        <% @root_comments.each do |root_comment|%>
          <%= render :partial => "pictures/root_comment", 
            :locals => {:root_comment => root_comment, 
                        :picture => @picture}%>
        <% end %>
      </ol>
      <!-- </div> -->
      

                
    </div><!--/span-->
    
    
    
    <!-- Upload new revision, show original picture, and revision list -->
    <div class="span4">
      <% if @picture.picture_filetype == PICTURE_FILETYPE[:image]  %>
       <button data-toggle="button" id="pilipoto-switcher" 
            class="btn btn-primary waitMode">Turn On Feedback Mode</button>
        <hr />
      <% end %>
      
      <% if current_user.is_submission_owner?(@project_submission) %>
      <!-- if it is not approved, revision still can be uploaded  -->
        <% if not @original_picture.any_picture_submission_approved? %>
          <% if @picture.picture_filetype == PICTURE_FILETYPE[:image] %>
            <%= render :partial => "pictures/upload_picture_revision_form"%>
            <%#= render :partial => "pictures/upload_revision_form"%>
          <% end %>
          
          <% if @picture.picture_filetype != PICTURE_FILETYPE[:image] %>
            <%= render :partial => "pictures/upload_document_revision_form"%>
            <%#= render :partial => "pictures/upload_revision_form"%>
          <% end %>
          
          
        <% end %>
        
      <% end %>
      
      
      <% if not @original_picture.any_picture_submission_approved? %>
        <% if @picture.is_approved.nil? %>
          <%= render :partial => "pictures/pending_submission", :locals => {
            :picture => @picture }%>
        <% end %>
      <% else %>
        <% if @picture.is_approved.nil? %>
          <%= render :partial => "pictures/ungradded_submission", :locals => {
            :picture => @picture }%>
        <% end %>
      <% end %>
      
      
      
  
      
      <% if @picture.is_approved == true %>
        <%= render :partial => "pictures/accepted_submission", :locals => {
          :picture => @picture }%>
      <% elsif @picture.is_approved == false %>
        <%= render :partial => "pictures/rejected_submission", :locals => {
          :picture => @picture }%>
      <% end %>
      
      
      
      
      <% if @picture.is_original == false %>
        <%= render :partial => "pictures/show_original", :locals =>{
          :original_picture => @original_picture,
          :project_submission => @project_submission
        }%>
      <% end %>
      
      <% if @all_revisions.count != 0 %>
        <%= render :partial => "pictures/revision_list",
                  :locals => {:all_revisions => @all_revisions, 
                          :current_display => @picture,
                          :project_submission => @project_submission }%>
                      
      <% end %>
    </div><!--/span-->
    
  </div><!--/row-->

</div><!--/span-->
