
<div class="span9 content">
  <%= create_guide("Analyze Picture", 
        "You can comment <b>on the picture</b>. 
        Just drag the mouse on the desired position, and create comment.").html_safe %>
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  

  
  <div class="row-fluid">
    <div class="span8">
      <h3> <%= @picture.name %></h3>
      <% if @picture.is_original == true  %>
        <span class="label">Original Submission</span>
      <% else %>
      	<span class="label label-success">Revision Submission</span>
      <% end %>
      <hr />
      
      
      <!-- The navigation element (<= Prev)  and (Next =>)-->
      <ul class="pager">
            <%= get_previous_project_picture(@picture).html_safe %>
            <%= get_next_project_picture(@picture).html_safe %>
      </ul>
      
      
      <!-- The image in display -->
        <div class="thumbnail image">
          
          <%= render :partial => "pictures/positional_comment_form", 
                          :locals => {:picture => @picture}%>
       
          
          
          <%= image_tag @picture.display_image_url,  
                :style => "width:590px;", :id => "target" %>
        </div>
       
                
                
    <!-- Supporting JS and CSS for create comment -->
      <% if @picture.allow_comment?(current_user) %>
        <%  content_for :additional_css  do %>
          <%= stylesheet_link_tag "jcrop.css", "image_map.css"%>
        <% end %>

        <% content_for :additional_js do %>
          <%= javascript_include_tag "jquery.Jcrop.min.js", "phototagging_exe.js" %>
          <%= transloadit_jquerify :upload_revision, :wait => true %>
        <% end %>
      <% end %>
                
    </div><!--/span-->
    
    
    
    <!-- Upload new revision, show original picture, and revision list -->
    <div class="span4">
      <%= render :partial => "pictures/upload_revision_form"%>
      <% if @picture.is_original == false %>
        <%= render :partial => "pictures/show_original", :locals =>{
          :original_picture => @original_picture,
          :project_submission => @project_submission
        }%>
      <% end %>
      
      <% if @all_revisions.count != 0 %>
        <%= render :partial => "pictures/revision_list",
                  :locals => {:all_revisions => @all_revisions, 
                          :current_display => @picture,
                          :project_submission => @project_submission}%>
                      
      <% end %>
    </div><!--/span-->
    
  </div><!--/row-->

</div><!--/span-->
