
<div class="span9 content">
  <%= create_guide("Set Timezone", 
        "School: <b>#{@school.name}</b><br />" + 
        "Timezone: <b>#{@school.time_zone}</b>" + "<br />" + 
        "Offset from GMT: <b>#{get_offset(@school.utc_offset)}</b>").html_safe %>
  
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  
  
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <a data-dismiss="alert" class="close">×</a>
      <strong><%= flash[:notice]%></strong>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-error">
      <a data-dismiss="alert" class="close">×</a>
      <strong><%= flash[:error]%></strong>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="span8">


      <%= form_for @school  ,:url => execute_timezone_setup_url , 
        :html => {:class => "form-horizontal"} do |f| %>
        <div class="control-group">
          <%= f.label :title, "Timezone" %>
          <div class="controls">
            <%#= f.text_field :title, :class=>"input-xlarge" %>
            <%#= f.time_zone_select :time_zone %>
            <%= select_tag "time_zone", 
              select_timezone_for_school( @school ).html_safe %>
            <!-- <p class="help-block">Masukkan kode kelas.</p> -->
          </div>
        </div>
        
        
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Set Timezone</button>
        </div>
      <% end %>
      
      
      

    </div><!--/span-->

    <div class="span4">
      <p>
        Timezone is important in determining the <b>project deadline</b>, 
        and <b>project starting time</b>, and <b>project ending time</b>.
      </p>
    </div><!--/span-->
    
  </div><!--/row-->

</div><!--/span-->
