
<div class="span9 content">
  
  <%= create_guide("View Score", 
        "Score for subject: <b>#{@course.subject.name}</b><br />" + 
        "Course : <b>#{@course.name}</b>").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  

  
  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th style="text-align:center;">NIM</th>
            <th colspan="<%= get_colspan(@projects)%>"
               style="text-align:center;">Projects</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th></th>
            
            <% if @projects.length == 0 %>
              <th>No Closed Projects</th>
            <% else %>
              <% (1..@projects.length).each do |counter| %>
              
              <th>
                <a href="#" 
                  data-content="<%= @projects[counter-1].description %>" 
                  rel="popover" 
                  class="popover-able"
                  data-original-title="<%= @projects[counter-1].title  %>">
                    <%= counter %>
                </a>
              </th>
              
              
                <!-- <th><%#= counter %></th> -->
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          
          <% @students.each do |student| %>
             <tr>
                <td><%= student.nim %></td>

                <% if @projects.length == 0 %>
                  <td>-</td>
                <% else %>
                  <% (1..@projects.length).each do |counter| %>
                    <td id="student_<%=student.id%>-project_<%= @projects[counter-1].id%>">
                    <%= extract_project_submission_result(
                              @course.get_score_for(student, @projects[counter-1]) ,
                              student, 
                              @projects[counter-1] 
                    )  %>
                      <!-- 80   -->
                      </td>
                  <% end %>
                <% end %>
              </tr>
          <% end %>
        </tbody>
      </table>
      
      
      
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->



<% content_for :additional_js  do %>
 <script type="text/javascript">
   $(document).ready(function(){
     $(".popover-able").popover({
       placement :'left'
     });
   });
 </script>
<% end %>










