
<div class="span9 content">
  <%#= render :partial => "layouts/guide/index_client_loans", :locals => {:client => @client} %>

  <%#= render :partial => "payments/breadcrumb", :locals => {:client => @client, :loan => nil} %>
  
  
  
  <%= create_guide("Assign Subject Teacher", 
        "Select the teachers to teach subject: <b>#{@subject.name}</b>.").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  

  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Student</th>
            <th>Course Taken</th>
            <th>Assign Student</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td><%= student.name %>: <%= student.email %> </td>
              
              
              
              
              <% registered_course = student.registered_course_for_subject(@subject) %>
              <td class="total-courses-taken">
              <% if registered_course.nil? %>
                Unregistered
              <% else %>
                <%= registered_course.name  %>
              <% end %> 
              </td>
              
              
        
              <td class="well">
                <label class="checkbox">
                  <% checkbox_value = student.is_course_registered?(@course) %>
                  <%#= check_box_tag 'is_checked', get_checkbox_value(checkbox_value )   , 
                      checkbox_value, :class => 'is_checked_class', 
                      :id => "studentId_#{student.id}" %> <!-- Taken -->
                      
                  <%= check_box_tag 'is_checked', get_checkbox_value(checkbox_value )   , 
                      checkbox_value, :class => 'checkbox_tracker', 
                      :id => "provider_#{@course.id}-consumer_#{student.id}" %> Taking
                </label>

              </td>
            </tr>
          <% end %>


         
        </tbody>
      </table>
      
      
  
      <div class=" hidden" id="checkbox_form_wrapper">
        <%= form_for CourseRegistration.new, 
              :url =>course_course_registrations_url(@course)   do |f| %>
          <%= hidden_field_tag 'membership_provider' , ''  %>
          <%= hidden_field_tag 'membership_consumer', '' %>
          <%= hidden_field_tag 'membership_decision', '' %>
        <% end %>
      </div>
      
          
      
     <!--       <div class="alert alert-success allert-message">
             <a class="close" href="#">&times;</a>
             <strong>Well done!</strong> You successfully read this important alert message.
           </div>

           
           <div class="form-actions">
             <%#= hidden_field_tag 'destination_url', 
                     subject_subject_teaching_assignments_url(@subject) ,
                      :id => "destination_url" %>

             <button class="btn btn-large btn-primary"
                   type="submit" id="save_button">Save changes</button>
           </div> -->
           

      
      
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->

<%# content_for :additional_js  do %>
 
  <%#= javascript_include_tag "DT.js" %> 
  <%#= javascript_include_tag "DT_bootstrap.js" %> 
<%# end %>










