
<div class="span9 content">
  
  
  <%= create_guide("Grade Project", 
        "Select the submission to be graded in project: <b> #{@project.title}</b>" + "<br />" + 
        "Course: #{@project.course.name}"  + "<br />" + 
        "Subject: #{@project.course.subject.code}" + "<br />" + 
        "Deadline: #{@project.deadline_date}").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  <h3>Total Teachers: 3</h3>
  <hr />
  
  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Student NIM</th>
            <th>First Submission Date</th>
            <th>Total Original Submission</th>
            <th>Total Submission</th>
            <th>Approved?</th>
          </tr>
        </thead>
        <tbody>
             <% @project_submissions.each do |project_submission| %>
                <tr>
                  <td><%= link_to "xxx", 
                        show_submission_pictures_for_grading_url(project_submission)%> </td>
                  <% if  project_submission.first_submission_time.nil? %>
                    <td>NA</td>
                    <td>-</td>  
                    <td>-</td>
                    <td>-</td>
                  <% else %>
                    <td><%= project_submission.first_submission_time %></td>
                    <td><%= project_submission.total_original_submission %></td>  
                    <td><%= project_submission.total_picture_submission %></td>
                    <% if project_submission.is_approved.nil? %>
                      <td>-</td>
                    <% elsif project_submission.is_approved == true %>
                      <td>YES</td>
                    <% else %>
                      <td>NO</td>
                    <% end %>
                  <% end %>

                </tr>
              <% end %>


         
        </tbody>
      </table>
      
      <!-- <div class="alert alert-success allert-message">
           <a class="close" href="#">&times;</a>
           <strong>Well done!</strong> You successfully read this important alert message.
         </div> -->
   
      
<!--       <div class="form-actions">
        <%#= hidden_field_tag 'destination_url', 
                subject_subject_teaching_assignments_url(@subject) ,
                 :id => "destination_url" %>

        <button class="btn btn-large btn-primary"
              type="submit" id="save_button">Save changes</button>
      </div> -->


      
      
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->

<%# content_for :additional_js  do %>
 
  <%#= javascript_include_tag "DT.js" %> 
  <%#= javascript_include_tag "DT_bootstrap.js" %> 
<%# end %>










