<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <title>potoSchool | Photography Course Management</title>
    <meta name="description" content="">
    <meta name="author" content="">
     <%= csrf_meta_tags %>
     
     <meta name="google-site-verification" content="p7DB-AfmjgGOsgsKnCe2viT1xmQ9xrBwhy62C3kd91I" />
     
     
      

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
   
    
    

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="<%=asset_path "favicon.ico"%>">
    <link rel="apple-touch-icon" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-114x114.png">
  
    <%= stylesheet_link_tag    "application" %>
    <%= yield :additional_css %>
    
    <% if Rails.env.production? %>
      <%= render :partial => "layouts/google_analytics"%>
    <% end %>
</head>
<body>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

  
  <%= render :partial => "layouts/main_navbar" %>

    <div class="container-fluid">
      <div class="row-fluid" id="top-wrapper">
        <%= render :partial => "layouts/process_navigation/process_navigation" %>
      
        <%= yield %>
  
      </div><!--/row-->

      <hr>

      <footer>
        <p>© poto 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= yield :additional_js %>
</body>
</html>


